// colors
$background: #fff;
$backgroundDark: #000;
$backgroundLight: #eee;


#content {    
    padding: 20px;
    
    article {
        section {
            header {
                .tags {
                    li {
                        display: inline;
                    }
                }
            }
        }
    }
    
    figure {
        padding: 5px;
        width: 200px;
        height: 200px;
    }
    

    
}
