body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: white;
  text-align: left;
}

header h1, #content {
  min-width: 380px;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: #006;
  text-decoration: underline;
}

a:hover, a:focus {
  background: #eee;
  color: #00c;
}

header {
  background: black;
}
header h1 {
  color: #ddd;
  font-size: 50px;
  padding: 20px;
}
header h1 a {
  color: #fff;
  text-decoration: none;
}
header h1 a:hover, header h1 a:focus {
  color: #fff;
  background: transparent;
  text-decoration: underline;
}
header h1 em {
  font-size: 20px;
  display: block;
}

#content h2 {
  font-size: 25px;
  padding: 4px;
  background: black;
  color: #fff;
}
#content p, #content li {
  line-height: 1.6em;
}
#content li {
  list-style-type: square;
}
#content article {
  padding: 10px 0;
  clear: both;
}
#content article section {
  clear: both;
}
#content article section header {
  background: transparent;
  line-height: 2em;
}
#content article section header h3 {
  color: #003;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
#content article section header strong {
  display: block;
  font-weight: normal;
  font-style: italic;
}
#content article section header strong a {
  font-style: normal;
}
#content article section header .tags {
  margin: 0;
  padding: 6px 0;
}
#content article section header .tags li {
  margin: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  background: #eee;
  border: 1px solid #ccc;
}
#content article section p {
  margin: 0 0 1em;
  text-align: justify;
}
#content figure {
  float: right;
  margin: 0 0 20px 20px !important;
  padding: 5px;
}
#content figure a {
  display: block;
  border: 0;
  padding: 3px;
  background: #eee;
  border: 1px solid #ccc;
  text-decoration: none;
}
#content figure a img {
  display: block;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
}
#content figure a:hover, #content figure a:focus {
  background: #fff;
  border: 1px solid #000;
}
#content figure .gallery, #content figure figcaption {
  display: none;
}
#content article#webdesign figure {
  float: left;
  margin-left: 0 !important;
  margin-right: 10px !important;
}
#content article#webdesign figure figcaption {
  display: block;
  text-align: center;
  font-size: 0.8em;
  padding-top: 3px;
}
#content article#webdesign figure figcaption a {
  background: transparent;
  border: 0;
}
#content article#webdesign figure figcaption a:hover, #content article#webdesign figure figcaption a:focus {
  text-decoration: underline;
}
#content .links li {
  padding-bottom: 6px;
}
#content .links li a {
  display: block;
}

@media screen and (max-width: 800px) {
  #content article section figure {
    float: left;
    margin: 0 7px 0 0 !important;
  }
  #content article section figure img {
    width: 50px !important;
    height: 50px !important;
  }
  #content article section header h3 {
    font-size: 20px;
    line-height: 60px;
  }
  #content article section header strong {
    clear: both;
    font-size: 0.9em;
    line-height: 1.5em;
  }
}
